/debian/pyilper.debhelper*
/debian/pyilper.substvars
/debian/files
/debian/pyilper2/
/build/
/test/
/.vscode
/pyilper2/Manual.src/
/pyilper2/pyilper2-code.workspace
pyilper2/pyilper2.code-workspace
/TODO
/*.txt
/__pycache__/
/pyilper.egg-info/
*.pyc
*.swp
*~
