[Desktop Entry]
Name=pyILPER2
Comment=Virtual HP-IL devices for PIL-BOX
Exec=pyilper2
Icon=hpil-pyilper2
GenericName=Virtual HP-IL devices
GenericName[de]=Virtuelle HP-IL Geräte
Terminal=false
Type=Application
Categories=Qt;Utility;
